h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 20px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(1, 6fr);
   
}

#Message {

}

#Name {

}

#Tel {

}


#Subscribe {
    
}