@import url("../Variables.css");
:root {
    --background-color: rgb(223, 188, 163);
}
body {
    width: 100%;
    height: 100%;
    }

/* Main section starts */
#main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: 1440px;

  }
    
    #contacttitle {
        text-align: center;
        margin-top: 235px;
        grid-row: 1 / 2;
        grid-column: 4 / span 2;
        font-family: indie flower;
        font-size: 36px;
      
    }


    
   #cafeadress {
    display: grid;
        text-align: center;
        font-size: 24px;
        grid-row: 2 / 3;
        grid-column: 4 / span 2;
        font-family: abel;

    
    }

  
    #cafeemail {
        display: grid;
        text-align: center;
        font-size: 24px;
        grid-row: 3 / 4;
        grid-column: 4 / span 2;  
    }


    #cafenumber {
        text-align: center;
        font-size: 24px;
        grid-row: 4 / 5;
        grid-column: 4 / span 2;
    }
    



    #Name {
        border: 1px solid #333;
        display: grid;
        grid-row: 5 / 6;
        grid-column: 3 / 4;
        height: 51px;
        background-color: var(  --background-color);
        opacity: 0.3;
        row-gap: 10px;
    
     
    }
    
    
    
    #Tel {
        border: 1px solid #333;
        display: grid;
        grid-row: 5 / 6;
        grid-column: 6 / 7;
        height: 51px;
        background-color: var(  --background-color);
        opacity: 0.3;
    
    
    }
    
    
    #Email {
        border: 1px solid #333;
        display: grid;
        grid-row: 5 / 6;
        grid-column: 4 / 6;
       height: 51px;
       background-color: var(  --background-color);
        opacity: 0.3;
    
    }
    
    .row2 {
        display: grid;
        grid-template-columns: 0fr 0fr 4fr 0fr 0fr;
        grid-row: 6 / 7;
        grid-column: 3 / 7;
    }

    #Message {
    display: grid;
    grid-row: 6 / 7;
    grid-column: 3 / 7;
       height: 295px;
       background-color: var(  --background-color);
        opacity: 0.3;
    
    
    }
    
    

    #sendbutton {
        grid-row: 7 / 8;
        grid-column: 3 / 4;
        height: 40px;
        width: 167px;
        background-color: var(  --background-color);
        opacity: 0.3;
        
    }
    
    .lastrow {
        display: grid;
        grid-template-columns: 0fr 0fr 3fr 1fr 0fr 0fr;
        grid-row: 8 / 9;
        grid-column: 3 /  7; 
    }

    #Subscribe {
        display: grid;
        background-color: var(  --background-color);
        opacity: 0.3;
        grid-row: 8 / 9;
        grid-column: 3 / span 3; 
        height: 40px;
    

    }


    #subbutton {
        background-color: var(  --background-color);
        opacity: 0.3;
        grid-row: 8 / 9;
        grid-column: 6 / 7; 
        height: 40px;
    
    }