/* Include Variables.css in Home.css */
@import url("../Variables.css");



/* Main section starts */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  min-height: 80.25vh;
  padding:20px
}
#menu-container {
  display: flex;  
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1600px;
}

.product-wraper {
  border: 1px;
  background-color: rgb(151, 98, 37);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
  min-width: 360px;
}

.product-img {
  height: 200px;
  width: 200px;
  border: 1px solid black;  
  border-radius: 10px ;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

#main h1 {
  font-family: var(--font-family-one);
  font-size: 50px;
}
.product-name {
  font-family: var(--font-family-one);
}
.product-price {
  font-family: var(--font-family-two);
}



  